.menu {
	BACKGROUND-COLOR: #cacad4; COLOR: #ce2b25; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
A.menu:link {
	COLOR: #ce2b25; TEXT-DECORATION: none
}
A.menu:visited {
	COLOR: #ce2b25; TEXT-DECORATION: none
}
A.menu:hover {
	COLOR: #ce2b25; TEXT-DECORATION: none
}
.menu-selected {
	BACKGROUND-COLOR: #ce2b25; COLOR: #edfee4; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
A.menu-selected:link {
	COLOR: #edfee4
}
A.menu-selected:visited {
	COLOR: #edfee4
}
A.menu-selected:hover {
	COLOR: #edfee4; TEXT-DECORATION: none
}
